.btn {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
}

@media only screen and (max-width: 320px) {
    .btn {
        width: 100%;
    }
}

.primary {
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--primaryPurple);
}

.secondary {
    padding: 1rem 2rem;
    background-color: var(--bg-3);
}

.select {
    background-color: var(--bg-3);
    width: 15rem;
}

.icon {
    padding: 0.5rem;
    background-color: var(--bg-2);
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
