*, 
*::before, 
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
	--primaryPurple: #646ff0;
	--black-1: #646681;
	--black-2: #585858;
	--bg-1: #f8f8ff;
	--bg-2: #ecedf6;
	--bg-3: #cccdde;
	--gray-1: #eee;
	--gray-2: #dedfe1;
	--black: black;
	--white: white;
}

html {
	font-size: 12px;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-1);
}
